
body {
  background-color: black;
  color: gold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
}
.lang {
  color: gold;
  cursor: pointer;
}
.logo-large {
  width: 250px;
  margin-top: 100px;
}
.small-coin {
  width: 25px;
  margin: 5px;
}
section {
  padding: 80px 20px;
}
footer {
  background-color: black;
  color: gold;
  padding: 20px;
}
